{% extends 'main.html' %}
{% load static %}

{% block title %}Home - Mtaani Mart{% endblock %}

{% block content %}
<style>
.hero-section {
    background-image: url("{% static 'ProductApp/images/bg-mtaani.png' %}");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent dark overlay */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 140px;
}

.hero-overlay h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-overlay h5 {
    font-size: 1.5rem;
    margin-bottom: 50px;
}
</style>

<div class="hero-section">
    <div class="hero-overlay">
        <h1 class="hero-title" >Welcome to Mtaani Mart</h1>
        <h5 class="hero-subtitle">Your one stop shop for all products</h5>
        <a href="{% url 'product_list' %}" class="btn btn-primary btn-lg">View Products</a>
    </div>
</div>
<footer style="background:#333; text-align:center; padding:15px; margin-top:40px;">
  <p>&copy; 2025 Mtaani Mart. All rights reserved.</p>
</footer>

{% endblock %}